In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./dim_seller.csv')
dim_seller = 'dim_seller'

In [3]:
df.head()

              Person
0        Chuck Magee
1  Cassandra Brandow
2     Kelly Williams
3      Anna Andreadi
4      Anna Andreadi

In [4]:
for indice, fila in df.iterrows():
    valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
    comando_sql = f"INSERT INTO {dim_seller} VALUES ({valores});"
    print(comando_sql)

INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Cassandra Brandow');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Chuck Magee');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Anna Andreadi');
INSERT INTO dim_seller VALUES ('Kelly Williams');
INSERT INTO dim_seller VALUES ('Anna Andreadi');

In [6]:
for indice, fila in df.iterrows():
    valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
    comando_sql = f"INSERT INTO dim_seller (Person) VALUES ({valores});"
    print(comando_sql)

INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Kelly Williams');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Cassandra Brandow');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Anna Andreadi');
INSERT INTO dim_seller (Person) VALUES ('Chuck Magee');

In [5]:
with open('insert_dim_seller.sql', 'w') as archivo_sql:
    for indice, fila in df.iterrows():
        valores = ', '.join([f"'{valor}'" if isinstance(valor, str) else str(valor) for valor in fila])
        comando_sql = f"INSERT INTO dim_seller (Person) VALUES ({valores});\n"
        archivo_sql.write(comando_sql)